h1, h2 {color:black;}
ul{	list-style-type: none;}


header
{
	height: 400px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid black;
	background: #FFF;
	align-content: stretch;
}

#logo
{
 height: 70px;
 position: absolute;
 padding-top:10px; 
 padding-left:30px;
}

#slogan
{
	font-size: 25px;
	padding-left:30px;
	padding-top: 70px;
}

#sujet
{
	padding-left: 30px;
}

#search
{}

#filtres
{
	align-items: baseline;

}

#menu
{
	margin-right: 15px

}


nav
{
right: 30%;

align-content: 
}

footer
{
	width: 100%;
	height: 250px;
	display: flex;
	background:grey;
}

.sous_titre
{
	text-align: justify }

.info
{
	margin: auto;
	text-align: auto;
}

