h1, h2
{
	color:black;
	font-weight: bold;;
}
h1{font-size: 110%;}
h2{font-size: 110%;}
a{text-decoration: none;}
*{font-family: 'Raleway', sans-serif;}


.fa-star{color: #0065FC}/* cette parti est dédier à la notation étoilé*/
.star .fa-star
{
	color: grey;
	opacity: 0.4;
}
.fa-map-marker-alt{color: #0065FC}
.fa-money-bill-wave{color: #0065FC}
.fa-child{color: #0065FC}
.fa-heart{color: #0065FC}
.fa-dog{color: #0065FC}

body
{
	margin: 0em;
}

header
{
	width: 95%;
	margin-left: 1em;
}

.header-smart-pad{display: none;}

.header-smart-pad .nav
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-smart-pad .menu-smart-pad
{
	width: 50%;
	list-style-type: none;
	text-align: center;
	padding-left: 0em;
	padding-bottom: 1em;
	border-bottom: 3px solid #0065FC;
}

.header-smart-pad .menu-smart-pad2
{
	width: 50%;
	list-style-type: none;
	text-align: center;
	padding-left: 0em;
	padding-bottom: 1em;
	border-bottom: 3px solid #F2F2F2;
}

.header1
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .menu
{
	list-style-type: none;
	display: flex;
}

.menu li
{
	padding-left: 2.5em;
}

.menu a
{
	color: #0065FC;
	padding-top: 0.85em;
}

.menu .lodging
{
	border-top: 2px solid #0065FC;
}

.menu .nav-activite
{
	color: black;
}

.menu .login
{
	font-weight: bold;
}

.menu a:hover
{
	color: black;
	border-top: 2px solid #0065FC;
	cursor: pointer;
}

nav
{
	display: flex;
	flex-wrap: wrap;
}

.enonce h1
{
	width: 80%;
	margin-bottom: 0.3em;
}

.sujet
{
	font-size: 90%;
}

.search
{
	display: flex;
	margin-top: 1em;
}

button.button
{
	height: 42px;
	width: 42px;
	background-color: #0065FC;
	border: none;
	border-radius: 9px;
	padding: 1em;
	text-align: center;
	display: none;
	margin-left: -0.6em;
}

.search-smart-pad span.search-buttom
{
	margin-left: -0.9em;
	padding: 0.6em 0.7em 0.6em 0.7em;
	border-radius: 30%;
	background-color: #0065FC;
}

.fa-color { color: white; }/* cette parti concerne la modif couleur de l'icone en elle même */

span.search-marker
{
	text-align: center;
	padding-top: 10px;
	background-color: #F2F2F2;
	width: 35px;
	border-radius: 10px 0px 0px 10px;
}

i.fas.fa-map-marker-alt
{
	color: black;
}

input.search-ville
{
	height: 39px;
	font-weight: bold;
	border: 2px solid #F2F2F2;
	padding-left: 1em;
}

input.search-buttom
{
	cursor: pointer;
	height: 39px;
	width: 100px;
	color: white;
	border:none;
	background: #0065FC;
	font-weight: bold;
	border-radius: 0px 10px 10px 0px;
	margin: -4px;
}

.filtres
{
	cursor: pointer;
	display: flex;
	font-weight: bold;
	align-items: baseline;
	margin-top: 1em;
}

.filtres .filtres-div
{
	font-weight: bold;
	align-items: baseline;
}

.fitres-div
{
	margin-right: 1em;
}

.filtres span:not(.icone)
{
	height: 1.5em;
	display: inline-flex;
	justify-content: space-around;
	margin-top: 0.5em;
	margin-right: 1em;
	padding: 0em 1em 0.7em 0em;
	border: 2px solid #F2F2F2;
	border-radius: 30px 30px 30px 30px;
}

.filtres input
{display: none;
}

label
{
	text-align: center;
	padding-top: 0.45em;
}

.filtres .icone
{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	text-align: center;
	background-color: #DEEBFF;
	margin-right: 1em;
}

.filtres i
{
	height: 30px;
	width: 30px;
	font-size: 15px;
	border-radius: 50%;
	margin-right: 1em;
	padding-top: 10px;
}

.filtres span:hover
{
	color: #0065F7;
	cursor: pointer;
}


.filtres span:hover i
{
	color: black;
	cursor: pointer;
}

.filtres .icone:hover
{
	background-color: #0065FC;
	cursor: pointer;
}

#infobulle
{
	font-size: 90%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 1em;
}

#infobulle i
{
	margin-right: 1em;
	text-align: center;
	color: #0065FC;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

i.fas.fa-info {
	width: 15px;
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	align-items: center;
}
.rooms-smart-pad{display: none;}
.rooms
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#section1
{
	width: 66%;
	display: block;
	flex-wrap: wrap;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
	align-content: stretch;
}

h2#lodging
{
	margin: 1.6em 0em 0em 2em;
}

#section1 #article
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.rooms-proposition
{
	width: 28%;
	border-radius: 17px 17px 17px 17px;
	background-color: white;
	box-shadow: 1px 1px 9px grey;
	margin-bottom: 2em;
	overflow: hidden;
}

#section1 img
{
	height: 90px;
	width: 97%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.2em;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
	object-position: center;
}


#section1 p
{
	color: black;
	font-size: 12px;
	margin: 1em 0em 1em 1em ;
}

#section1 p strong
{font-weight: bold;}

#section1 .pricenight
{
	font-size: 10px;
}

#section1 i
{margin-top: 0.4em;}

#section1 #plus
{
	margin-left: 2.4em;
}

#section1 #plus a
{
	color: black;
	font-weight: bold;
}

#section2
{
	width: 23%;
	background-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	padding: 2em 2em 0em 2em;
}

#section2 #les-plus-populaires
{
	width: 97%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 1.5em;
}

#section2 .selection a
{
	display: flex;
}


#section2 h2
{
	margin-top: 0em;
	margin-bottom: 0em;
}


.selection {
	width: 97%;
	height: 107px;
	background-color: white;
	margin-bottom: 2em;
	border-radius: 17px;
	box-shadow: 1px 1px 9px grey;
}

#section2 img
{
	width: 35%;
	height: 100px;
	display: block;
	margin: 0.2em 0.2em;
	object-fit: cover;
	object-position: center;
	border-radius: 15px 0px 0px 15px;
}

#section2 p
{
	width: 90%;
	color: black;
	font-size: 12px;
	margin-left: 0.6em;
}

#section2 .pricenight
{
	font-size: 10px;
}

.stars
{
	height: 20px;
	font-size: 12px;
	padding: 0.8em 1em 0.5em 1em;
}

#titre-activite-marseille
{
	margin: 2em 0em 1em 1.5em;
}

#section3
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 3em;
}

#section3 .activites
{
	height: 358px;
	width: 22%;
	box-shadow: 1px 1px 9px #F2F2F2;
	border-radius: 15px 15px 15px 15px;
}

.activites p
{
	color: black;
	margin: 0.5em 0em 0em 1em;
}

#section3 .tall
{
	height: 310px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 15px 15px 0px 0px;
}

div#lieu-visite-box2
{
	width: 22%;
}

#section3 .activites-fort-pomegues
{
	box-shadow: 1px 1px 9px #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 2.7em;
}

.activites-fort-pomegues p
{
	color: black;
	margin: 0.5em 0em 1em 1em;
	padding-bottom: 1em;
}

#section3 #medium
{
	height: 130px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 15px 15px 0px 0px;
}

#section3 .activites-ile-frioul
{
	box-shadow: 1px 1px 9px #F2F2F2;
	border-radius: 15px 15px 15px 15px;
}

.activites-ile-frioul p
{
	color: black;
	margin: 0.5em 0em 1em 1em;
	padding-bottom: 1em;
}

#section3 #little
{
	height: 90px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 15px 15px 0px 0px;
}

div#lieu-visite-box4
{
	width: 22%;
}

#section3 .activites-notre-dame
{
	box-shadow: 1px 1px 9px #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 2.7em;
}

.activites-notre-dame p
{
	color: black;
	margin: 0.5em 0em 1em 1em;
	padding-bottom: 1em;
}

#section3 .activites-parc-longchamp
{
	box-shadow: 1px 1px 9px #F2F2F2;
	border-radius: 15px 15px 15px 15px;
}

.activites-parc-longchamp p
{
	color: black;
	margin: 0.5em 0em 1em 1em;
	padding-bottom: 1em;
}
#section3 .large
{
	height: 110px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 15px 15px 0px 0px;
}


footer
{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	background-color: #F2F2F2;
}

.info
{
	width: 33%;
	margin-left: 1.8em;
	padding-top: 1em;
}

footer ul
{
	padding-left: 0px;
	margin: 0em 0em 0.5em 0em;
}

footer li
{
	font-size: 80%;
	padding-bottom: 1em;
	list-style-type: none;
}

footer a
{
	color: black;
}

@media (max-width: 769px)

				/*@media (min-width: 375px) and (max-width: 1200px)*/
{

			header
			{
				width: auto;
				margin: 1em 0em 0em 0em;
			}

			.header-smart-pad
			{
				display: block;
			}

			.logo-login
			{
				padding-left: 2em;
				padding-right: 2em;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			a.login
			{
				font-weight: bold;
				color: #0065FC;
			}

			.nav a
			{
				color: black;
			}

			.menu-smart-pad a:hover
			{
				color: #0065FC;
				cursor: pointer;
			}

			.header-smart-pad .menu-smart-pad:hover
			{
				border-bottom: 3px solid #F2F2F2;
				cursor: pointer;
			}

			.menu-smart-pad2 a:hover
			{
				color: #0065FC;
				cursor: pointer;
			}

			.header-smart-pad .menu-smart-pad2:hover
			{
				border-bottom: 3px solid #0065FC;
				cursor: pointer;
			}

			.header1{display: none;}

			.enonce{padding-left: 2em;}

			.enonce h1
			{
				width: 90%;
				font-size: 21px;
				margin-bottom: 0.3em;
			}

			.sujet
			{
				font-size: 95%;
			}

			.search
			{
				margin-left: 2em;
			}

			input.search-buttom
			{
				display: none;
			}

			button.button
			{
				display: inline-flex;
			}

			input.search-ville
			{
				height: 41px;
}

				.filtres
				{
					display: inline-block;
					padding-left: 2em;
				}

			.rooms
			{
				width: 100%;
				display:flex;
			}

			#section1
			{
				order: 2;
				display: flex;
				width: 100%;
				background-color: white;
			}

			h2#lodging
			{
				margin: 1.6em 0em 1.6em 2em;
			}

			#infobulle
			{
				display: flex;
				margin-left: 2em;
			}

			#section1 #article
			{
				width: 100%;
				display: inline-block;
				padding: 0em 2em;
			}

			.rooms-proposition
			{
				width: 100%;
				margin-bottom: 1em;
			}

			#section1 img
			{
				width: 98.8%;
			}

			#section1 p
			{
				margin-bottom: 0.5em;
			}

			#plus strong
			{
				margin-bottom: 2em;
			}

			#section2
			{
				order: 1;
				width: 100%;
				background-color: #F2F2F2;
				border-radius: 0px;
				padding: 2em;

			}

			#section2 .selection
			{
				margin: 2em 0em;
			}

			#titre-activite-marseille h1
			{
				margin-left: 0.5em;
			}

			#section3
			{
				width: auto;
				display: block;
				padding: 2em;
			}

			#section3 .activites
			{
				height: 180px;
				width: 100%;
				margin-bottom: 1em;
			}

			 #section3 .activites img.tall
			{
				height: 130px;
			}

			#section3 .activites-fort-pomegues
			{
				margin-bottom: 1em;
			}

			#section3 .activites-notre-dame
			{
				margin-bottom: 1em;
			}

			.activites-fort-pomegues
			{
				margin-bottom: 1em;
			}

				.activites-notre-dame
				{
					margin-bottom: 1em;
				}

				div#lieu-visite-box2
				{
					width: 100%;
					margin-bottom: 1em;
				}

				div#lieu-visite-box4
				{
					width: 100%;
					margin-bottom: 1em;
				}

				#section3 img#little
				{
					height: 130px;
				}

			footer
			{
				width: 100%;
				display: block;
			}

			.info
			{
				width: 50%;
			}

			footer ul
			{
				margin-bottom: 0em;
}


}

/*@media (max-width: 769px) {
	#section2 img {width: 175px;}
	#section1 img {height: 230px;}
	#section3 img {height: 310px !important;}
	#section3 .activites {height: auto;}
	.activites p {padding-bottom: 1em;}
}
*/